<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="mauilog" xsi:type="MauiLog" />
	</targets>
	<rules>
		<logger minLevel="Info" writeTo="mauilog" />
	</rules>

	<extensions>
		<add assembly="NLog.Targets.MauiLog"/>
	</extensions>

</nlog>