name: Build and Run Windows End to End Tests

on:
  pull_request:
    branches:
      - main

jobs:
  end_to_end_tests:
    runs-on: windows-2022
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
        with:
          vs-prerelease: true          
     
      - name: Install MAUI workloads
        run: |
          dotnet workload install maui

      - name: Install Appium and Drivers
        run: |
          npm install -g appium --unsafe-perm=true --allow-root
          appium driver install --source=npm appium-windows-driver

      - name: Start Appium Server
        run: |
          nohup appium --log appium.log &

      - name: Restore MAUI App for Windows
        run: dotnet restore TransactionProcessor.Mobile.sln --source ${{ secrets.PUBLICFEEDURL }} --source ${{ secrets.PRIVATEFEED_URL }} --source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json

      - name: Build Code
        run: dotnet build TransactionProcessor.Mobile/TransactionProcessor.Mobile.csproj  -f net10.0-android -c Release --no-restore
       
      - name: Decrypt PFX File
        run: |
          echo "${{ secrets.WINDOWSSIGNINGCERT }}" > cert.pfx.asc
          certutil -decode cert.pfx.asc cert.pfx

      - name: Add Cert to Store
        run: certutil -user -q -p ${{ secrets.WINDOWSSIGNINGCERTPWD }} -importpfx cert.pfx NoRoot

      - name: Publish App
        run: |
         dotnet publish TransactionProcessor.Mobile/TransactionProcessor.Mobile.csproj -c Release -f net10.0-windows10.0.19041.0 /p:AppxPackageSigningEnabled=true /p:PackageCertificateThumbprint="${{ secrets.WINDOWSSIGNINGCERTTHUMBPRINT }}"      
      
      - name: Install App
        shell: powershell      
        run: |         
         Import-Module Appx 
         .\TransactionProcessor.Mobile/bin/Release\net10.0-windows10.0.19041.0\win10-x64\AppPackages\TransactionProcessor.Mobile_1.0.0.1_Test\Install.ps1 -Force

      - name: Run Windows End To End Tests
        run: dotnet test TransactionProcessor.Mobile.UiTests/TransactionProcessor.Mobile.UiTests.csproj --filter "(Category=PRTest)&(Category=Windows)" --no-restore

      - name: Upload Logs on Failure
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: windows-e2e_tests
            path: C:\\Users\\runneradmin\\txnproc

      - name: Upload Appium Logs on Failure
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: windows-e2e_tests_appium
            path: appium.log

  
